@model SmartViewHealth.Models.SEEquipmentViewModel


@using (Html.BeginForm("PostSELog", "Logging", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!-- Modal -->
    <div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Validation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="mModalMessage"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ConfirmNonCompliance" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Compliance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="msg">You are not in compliance, do you wish to proceed?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Proceed</button>
                </div>
            </div>
        </div>
    </div>


    @Html.HiddenFor(m => m._equipment.Id)
    @Html.HiddenFor(m => m._Location.Id)
    @Html.HiddenFor(m => m._Facility.Id)
    @Html.HiddenFor(m => m._HealthSystem.Id)
    @Html.HiddenFor(m => m.SETaskType)
    @Html.HiddenFor(m => m.Tasks_RU_fg, htmlAttributes: new { id = "Tasks_RU_fg" })
    @Html.TextAreaFor(m => m.Tasks_QandA, htmlAttributes: new { id = "Tasks_QandA", Style = "display: none;" })


    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model._equipment.EquipmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._equipment.EquipmentName, new { htmlAttributes = new { @class = "form-control", @id = "EquipmentName", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._Location.LocationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._Location.LocationName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._equipment.entry_user, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._equipment.entry_user, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.UserName } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._equipment.entry_ts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._equipment.entry_ts, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.CurrentTime } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._equipment.row_sta_cd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model._equipment.row_sta_cd, new List<SelectListItem>
                     {
                        new SelectListItem { Text = "Active", Value = "A", Selected = true},
                        new SelectListItem { Text = "Obsolete", Value = "O"}
                       }
          , new { @class = "form-control" })
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            @if (Model.SETaskType == "D")
            {
                <h4>Daily Tasks:</h4>
            }
            else if (Model.SETaskType == "W")
            {
                <h4>Weekly Tasks:</h4>
            }
            else
            {
                <h4>Monthly Tasks</h4>
            }

            <ul class="list-group">
                @foreach (var item in Model._equipment_SE_Tasks)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span id="ddlQuestion_@Model._equipment_SE_Tasks.IndexOf(item)">@item.Task_Text</span>
                        <select class="form-control" id="ddlAnswer_@Model._equipment_SE_Tasks.IndexOf(item)">
                            <option value="-1"></option>
                            <option value="Completed">Completed</option>
                            <option value="Not Completed">Not Completed</option>
                        </select>
                    </li>
                }
            </ul>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Cancel" class="btn btn-secondary" onclick="BackToPrevious();" />
                <input type="submit" value="Create Log" class="btn btn-primary" onclick="return ValidateForm();" />
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //make the health systems tab "active"
            $("#tabEquipmentLogging").addClass("active");
        });

        function ValidateForm() {
            //remove text
            $("#mModalMessage").text("");

            //loop through question drop downs and confirm everything was answered
            var questionCount = @Model._equipment_SE_Tasks.Count;

            var Tasks_RU_fg = 'Y';
            var Tasks_QandA = '';

            for (var i = 0; i < questionCount; i++)
            {
                if ($('#ddlAnswer_' + i).val() == -1) {
                        $("#mModalMessage").text("Please answer all tasks before creating log.")
                        $('#ModalMessage').modal("show");
                        return false;
                }

                if ($('#ddlAnswer_' + i).val() == 'Not Completed') {
                    Tasks_RU_fg = 'N';
                }

                Tasks_QandA = Tasks_QandA + $('#ddlQuestion_' + i).text() + ' ^*^ ' + $('#ddlAnswer_' + i).val() + ' | ';
            }

            //write rollup flag to hidden textbox
            $('#Tasks_RU_fg').val(Tasks_RU_fg);

            //write q&a to hidden textbox
            $('#Tasks_QandA').val(Tasks_QandA);

            if (Tasks_RU_fg == 'N') {
                //confirm with the user they want to proceed w/o compliance
                $('#ConfirmNonCompliance').modal('show');
                return false;
            }

            return true;
        }

        function BackToPrevious() {
            var url = '@Html.Raw(Url.Action("Index", "Logging", new { iHealthSystemId = Model._HealthSystem.Id,
                                                             iFacilityId = Model._Facility.Id,
                                                             iLocationId = Model._Location.Id,
                                                             iEquipmentId = Model._equipment.Id}))';
            window.location = url;
        }
    </script>
}
