@model SmartViewHealth.Models.TempEquipmentViewModel

<div style="display: flex; justify-content: flex-end; vertical-align: middle; padding-bottom: 5px;">
    @using (Html.BeginForm("CreateTempLog", "Logging", new { iEquipmentId = Model._equipment.Id }))
    {
        <input type="submit" value="Add Log" class="btn btn-primary" />
    }
</div>

@if (Model.lstTempLogs.Count > 0)
{
    <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Equipment Name:
                    </th>
                    <th>
                        Temperature:
                    </th>
                    <th>
                        Logged By:
                    </th>
                    <th>
                        Logged On:
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstTempLogs)
                {
                    <tr>
                        <td>
                            @Model._equipment.EquipmentName
                        </td>
                        <td>
                            @item.temp_value
                        </td>
                        <td>
                            @item.lst_mod_id
                        </td>
                        <td>
                            @item.lst_mod_ts.ToString("MM/dd/yyyy h:mm tt")
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditTempLog", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h5>@Model._equipment.EquipmentName does not have any logs.</h5>
}
