@model SmartViewHealth.Models._CreateFacilityContext

@using (Html.BeginForm("PutEditFacility", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Health Systems", "HealthSystems")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Facilities of " + Model._HealthSystem.HealthSystemName, "Facilities", new { id = Model._HealthSystem.Id })</li>
        <li class="breadcrumb-item active">Edit Facility</li>
    </ol>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000" style="position: absolute; top: 4rem; right: 1rem;">
        <div class="toast-header">
            <strong class="mr-auto">Field Validation</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <span id="toast-body-text">#</span>
        </div>
    </div>

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model._Facility.FacilityName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._Facility.FacilityName, new { htmlAttributes = new { @class = "form-control", @id = "FacilityName" } })
                @Html.HiddenFor(m => m._Facility.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._HealthSystem.HealthSystemName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._HealthSystem.HealthSystemName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.HiddenFor(m => m._HealthSystem.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._Facility.lst_mod_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._Facility.lst_mod_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.UserName } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._Facility.lst_mod_ts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._Facility.lst_mod_ts, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.CurrentTime } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._Facility.row_sta_cd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model._Facility.row_sta_cd, new List<SelectListItem>
                     {
                        new SelectListItem { Text = "Active", Value = "A", Selected = true},
                        new SelectListItem { Text = "Obsolete", Value = "O"}
                       }
                 , new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Cancel" class="btn btn-secondary" onclick="BackToPrevious();" />
                <input type="submit" value="Save" class="btn btn-primary" onclick="return ValidateForm();" />
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //make the health systems tab "active"
            $("#tabHealthSystems").addClass("active");
        });

        function ValidateForm() {
            var hsName = $("#FacilityName").val();

            if (hsName == '') {
                $("#toast-body-text").text("Facility Name is required.");
                $(".toast").toast('show');
                return false;
            }

            if (hsName.length < 3) {
                $("#toast-body-text").text("Facility Name must be at least 3 characters long.");
                $(".toast").toast('show');
                return false;
            }

            return true;
        }

        function BackToPrevious() {
            var url = '@Url.Action("Facilities", "Admin", new { id = Model._HealthSystem.Id })';
            window.location = url;
        }
    </script>
}