@model SmartViewHealth.Models._FacilityContext


<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Health Systems", "HealthSystems")</li>
    <li class="breadcrumb-item active">Facilities of @Model._HealthSystem.HealthSystemName</li>
</ol>

<div style="display: flex; align-content:space-between; align-items: center; vertical-align: middle; padding-bottom: 5px;">

    @using (Html.BeginForm("Facilities", "Admin", new { id = Model._HealthSystem.Id }))
    {
    <div style="display: flex; align-content:space-between; align-items: center; height: 45px; vertical-align: middle;">
        <div>
            <input type="text" class="form-control" placeholder="Search Facilities" id="txtSearch" name="searchString">
        </div>
        <div style="width: 5px;">
        </div>
        <div>
            <input id="btnSearch" type="submit" value="Search" class="btn btn-primary" />
        </div>
        @if (ViewBag.ShowRefresh)
        {
            <div style="padding-left: 5px;">
                <input id="btnRefresh" type="submit" value="Refresh" class="btn btn-primary" onclick="ReloadPage(null);" />
            </div>
        }
    </div>
    }
    
    <div style="width: 15px; margin-left: auto;">
    </div>

    @using (Html.BeginForm("CreateFacility", "Admin", new { hSystemId = Model._HealthSystem.Id }))
    {
        <input type="submit" value="Create Facility" class="btn btn-primary" />
    }
</div>

<div id="FacilitiesGrid">
    @Html.Partial("FacilitiesGrid", Model)
</div>

<div class="custom-control custom-checkbox" style="padding-bottom: 5px;">
    @if (ViewBag.bShowObsolete)
    {
        <input type="checkbox" class="custom-control-input" id="cbShowObsolete" onchange="ReloadPage(null);" checked>
    }
    else
    {
        <input type="checkbox" class="custom-control-input" id="cbShowObsolete" onchange="ReloadPage(null);">
    }
    <label class="custom-control-label" style="font-size: 10pt;" for="cbShowObsolete">Show Obsolete</label>
</div>

@if(Model.Pager != null)
{
    <div id="FacilitiesPager">
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a class="page-link" href="javascript: ReloadPage(null);">First</a>
                    </li>
                    <li>
                        <a class="page-link" href="javascript: ReloadPage(@(Model.Pager.CurrentPage - 1));">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "page-item active " : "page-item")">
                        <a class="page-link" href="javascript: ReloadPage(@page);">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="javascript: ReloadPage(@(Model.Pager.CurrentPage + 1));">Next</a>
                    </li>
                    <li>
                        <a class="page-link" href="javascript: ReloadPage(@(Model.Pager.TotalPages));">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
}



<div>
    @Html.ActionLink("Back to Health Systems", "HealthSystems")
</div>

@section scripts {
    <script type="text/javascript">
        function ReloadPage(page) {
            var ShowObsolete = document.getElementById('cbShowObsolete').checked;
            var url = '@Url.Action("Facilities", "Admin", new { id = Model._HealthSystem.Id })';
            url = url + '?bShowObsolete=' + ShowObsolete;
            if (page) {
                url = url + '&page=' + page;
            }
            window.location = url;
        }

        $("#txtSearch").keypress(function (event) {
            if (event.keyCode === 13) {
                $("#btnSearch").click();
            }
        });

        $(document).ready(function () {
            //make the health systems tab "active"
            $("#tabHealthSystems").addClass("active");
        });
    </script>
}
